

.addressbtn {

  display: block;
  width: 20%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: rgb(252, 205, 92);
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  font-weight: bold;

}


@media (max-width: 500px) {
  .addressbtn {
    max-width: 100%;
    min-width: 150px;

  }

  .paymentbtn {
    max-width: 100%;
    min-width: 150px;
    /* color: red; */
  }

 
}


.paymentoption{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  height: 170px;
  /* border: 2px solid red; */

}
.paytm{
  width: 70px;
  height: 70px;

}
.phonepay{
height: 50px;
border-radius: 5px;
width: 50px;
}
@media (max-width:450px){
  .paymentoption{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    height: 150px;
    /* border: 2px solid red; */
  

    
  }
  .paytm{
    height: 40px;
    width: 40px;



  }
  .phonepay{
    height: 30px;
    width: 30px;
  }
}
/* style={{ backgroundColor: "rgb(252,205,92)", fontWeight: "bold", fontSize: "20px", width: "65%", height: "50px", borderRadius: "5px", marginTop: "40px" }} */

.largebutton{
background-color: rgb(252,205,92);
font-weight: bold;
font-size: 20px;
width: 65%;
height: 50px;
border-radius: 5px;
margin-top: 40px;
}


@media (max-width:570px) {
  .paymentoption {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width:520px) {
  .largebutton {
    font-size: 15px;
    width: 60%;
  }
}