/* .shipping-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
  } */
 
  .addressButton{
    padding: 20px;
  }

  @media (max-width: 500px) {
    .addressButton {
      max-width: 100%;
      color: red;
    }
  
    .placeorderbtn {
      max-width: 100%;
    }
  
    .ppaygpayptm {
      max-width: 100%;
    }
  
    .debitCreditbtn {
      max-width: 100%;
    }
  }
  

  
  @media (max-width:570px){
    .paymentoption{
      display: flex;
      flex-wrap:wrap ;
    }
  }

